@charset "UTF-8";



body{
font-family:Tahoma;
background-color :#44C9DD;
}
label{
	color:#911D1D;	
}


text-area{
	background-color:#F7D7D7;
	outline:#c98a1e;
	}

	#imagePeople{
	max-height:1000px;
	height:auto;
	margin: 20px;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
	
	}