<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h1>You messing with the right person!</h1>
	<div id="userLabel">
	 <h5  th:text="'Hello ' + ${username} + ', and how are your hats?'"></h5>
	</div>


<div>
<form >
<textarea readOnly id="textArea" rows="10" cols="200"></textarea>
<br> <br>
<label th:text="${username}  +'   please type your chat here'"></label>
<br>
 <textarea rows="5" cols="50" > </textarea> 
<button type="submit" >Enter</button>
</form>
</div>

</body>
</html>